/* intuitivnejsi box-sizing */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

.kontejner {
  padding: 10px;
  border: 1px dashed red;
  background-color: #ffffcc;
}


.kontejner > div {
  font: 30px/1 sans-serif;
  font-weight: bold;
  border: 1px solid black;
}

.kontejner > div:nth-child(5n+1) { background-color: #2ecc71;}
.kontejner > div:nth-child(5n+2) { background-color: #f1c40f;}
.kontejner > div:nth-child(5n+3) { background-color: #3498db;}
.kontejner > div:nth-child(5n+4) { background-color: #e74c3c;}
.kontejner > div:nth-child(5n+5) { background-color: #9b59b6;}

/* ---------------------------------------------------- */

.kontejner {
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.prvni {
  grid-column: 2 / 4;
  grid-row: 3;
  background-image: linear-gradient(blue, pink);
}

.modrý {
  color: blue;
  background-color: lightskyblue;
  border-radius: 20%;

}

.popelnice {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}